Source: ru-tts
Section: sound
Priority: optional
Maintainer: Igor B. Poretsky <poretsky@mlbox.ru>
Build-Depends: debhelper (>= 5), libtool (>= 1.5.2), librulexdb-dev
Standards-Version: 3.9.3

Package: ru-tts
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: rulex (>= 2.0)
Suggests: sox
Conflicts: rulex (<< 2.0)
Description: software Russian TTS engine
 This is a Russian speech synthesizer.
 it takes Russian text in koi8-r charset from standard input
 and produces digital sound stream in the raw linear
 signed 8-bit 10 kHz format on the standard output.
 It doesn't actually play this sound. You should use
 some player for it like sox for example.

Package: librutts5
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: software Russian TTS engine
 This is a Russian speech synthesizer.
 it takes Russian text in koi8-r charset as an input
 and produces digital sound stream in the raw linear
 signed 8-bit 10 kHz format for the output.
 It doesn't actually play this sound. You should use
 some player for it like sox for example.
 .
 This package provides the shared library.

Package: librutts-dev
Section: libdevel
Architecture: any
Depends: librutts5 (= ${binary:Version}), ${misc:Depends}
Description: software Russian TTS engine
 This is a Russian speech synthesizer.
 it takes Russian text in koi8-r charset as an input
 and produces digital sound stream in the raw linear
 signed 8-bit 10 kHz format for the output.
 It doesn't actually play this sound. You should use
 some player for it like sox for example.
 .
 This package provides the development files.
