#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS=hardening=+all

%:
	dh $@

override_dh_auto_build:
	$(MAKE) -C $(CURDIR)/src prefix=/usr libdir=/usr/lib/$(DEB_HOST_MULTIARCH) dictionary=optional

override_dh_auto_clean:
	$(MAKE) -C $(CURDIR) clean

override_dh_auto_install:
	$(MAKE) -C $(CURDIR) install prefix=/usr libdir=/usr/lib/$(DEB_HOST_MULTIARCH) DESTDIR=$(CURDIR)/debian/tmp
