#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:
	$(MAKE) -C $(CURDIR)/src prefix=/usr dictionary=optional

override_dh_auto_clean:
	$(MAKE) -C $(CURDIR)/src clean

override_dh_auto_install:
	$(MAKE) -C $(CURDIR)/src install prefix=/usr DESTDIR=$(CURDIR)/debian/tmp
